*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.side_bar{
    background-color: #1992d4;
    grid-row: 1 / span 2;
    color:#fff;

    padding: 10px;
    font-size: 1.3rem;
    display: grid;
    grid-auto-rows: min-content;
    gap: 3rem;
    justify-content: center;
}

h1{
    font-size: 2rem;
}

.side_bar ul{
    list-style: none;
}

.side_bar li{
    margin-bottom: 10px;
}

.nav{
    background-color: #ffffff;
}

.main_content{
    background-color: #e2e8f0;
}
