:root{
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.side_bar{
    background-color: #1992d4;
    grid-row: 1 / span 2;
    color:var(--white);

    padding: 1rem;
    font-size: 1.3rem;
    display: grid;
    grid-auto-rows: min-content;
    gap: 3rem;
    justify-content: center;
}


.side_bar p{
  margin-bottom: 5px;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: start;
}

.side_bar img, .nav img{
    width:25px;
    height: inherit;
}

.side_bar img{
    filter:invert(100%) ;
}

.dashboard{
    font-size: 2.2rem;
}

.dashboard img{
    width: 45px;
}

.nav{
    background-color: var(--white);
    padding: 1rem 2rem;

    gap: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.nav > div{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav_top input{
    font-family: inherit;
    font-size: 100%;
    width: 40vw;
    margin-right: 15vw;
    background-color: #e2e8f0;
    border: none;
    border-radius: 10px;
    height: 40%;
}

.nav_top input:focus{
    outline: 1px solid #d8d8d8;
    background-color: rgb(226, 231, 235);
    padding-left: 0.5rem;
}

.picture{
    width: 45px;
    height: 45px;
    border-radius: 90px;
}

.nav_top p{
    font-weight: bold;
}

.picture_large{
    width: 70px;
    height: 70px;
    border-radius: 140px;
}

.picture, .picture_large{
    background: url("osaker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.data{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
}

.greeting p{
    margin-bottom: 0.2rem;
}

.greeting p:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

.buttons button{
    background-color: #1992d4;
    color:#fff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
}

.main_content{
    background-color: #e2e8f0;
    padding: 2rem 1rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main_content p{
    color:#656363;
}

.projects{
    grid-row: 1 / span 2;
}

h2{
    font-size: 1.3rem;
}

.announcements, .trending{
    margin-right: 1rem;
}

.announcements_box, .trending_box{
    background-color: var(--white);
    border-radius: 10px;

    margin: 1rem 0;
    padding: 1rem 2rem;
}

.announcements_box .announcement{
    padding: 1rem 0;
}

.announcements_box .announcement:not(.announcements_box .announcement:last-child){
    border-bottom: 1px solid #a4a4a4;
}

.announcements_box h4{
    margin-bottom: 0.4rem;
}

.trending .user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.user{
    margin-bottom: 1rem;
}

.user .picture{
    justify-self: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.peter{
    background: url('piotr.jpg');
}

.mid{
    background: url('mid.jpg');
}

.excuseme{
    background: url("excuseme.jpg");
}

.description p:first-child{
    font-weight: bold;
    color:#000;
}